{% extends "layout.html" %}

{% block content %}

<span class="banner-left">The English Reading Assistant</span>

{% endblock %}


{% block body %}



	<div id="passage">
	{% for p in output %}
		<p>
			{% for word in p.split(' ') %}
				<span class="word">{{word}}</span>
			{% endfor %}
		</p>
	{% endfor %}
	</div>

	<div id="definitions">
	</div>


	<style type="text/css">

		.current{
			color: orange;
			background-color: yellow;
		}

		.selected{
			color: #742574;
			background-color: #edc5ed;
		}

		#intro form{
			float: right;
			margin-right: 20px;
		}

		.banner-left{
			float: left;
		}

		.banner-right{
			float: right;
			margin-right: 10px;
		}

		.blockbody{
			animation-name: expand;
			animation-duration: 2s;
			transition: max-height 2s;
			max-height:5000px;
		}

		div.blockbody.shrink{
			transition: max-height 2s;
  			max-height:0px;	
  			overflow: hidden;
		}

		@keyframes expand{
  			from{max-height:0px;}to{max-height:5000px;}
		}

	</style>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript">

		var allwords = document.querySelector("#passage");

		allwords.addEventListener("click", filterclick, false);

		function filterclick(e) {
    		if (e.target !== e.currentTarget) {
        		
        		shrinkalldef();
        		getdef(e.target.innerHTML);
        		highlight(e.target.innerHTML);
        		
    		}
    		e.stopPropagation();
		}



		function getdef(word){
			const request = new XMLHttpRequest();
            request.open('GET', `/definition/${word}`);
            request.onload = () => {

                const response = request.responseText;

				const blockbody = document.createElement("div");
				const newblock = document.createElement("div");
				const blockhead = document.createElement("div");

				newblock.classList.add("definition");
				blockhead.classList.add("blockhead");
				blockbody.classList.add("blockbody");

				blockhead.innerHTML = word;
                blockbody.innerHTML = response;

                newblock.appendChild(blockhead);
                newblock.appendChild(blockbody);
                newblock.setAttribute("onclick", "toggledef(this)")

				const definitions = document.querySelector("#definitions");
				definitions.insertBefore(newblock,definitions.childNodes[0]);
            };
            request.send();
		}

		var previous = '';

		function highlight(keyword){
			var words = document.querySelectorAll(".word");
			words.forEach( word => {
					if (word.innerHTML == keyword) {
						word.classList.add("current");
					}
					if (word.innerHTML == previous) {
						word.classList.remove("current");
						word.classList.add("selected");
					}
				}
			);
			previous = keyword;
		}

		

		function toggledef(def){
			console.log("toggle!");
			def.children[1].classList.toggle("shrink");
		}
		



		function shrinkalldef(){
			console.log("shrink!");
			var blockbodies = document.getElementsByClassName("blockbody");
			console.log(blockbodies);
			for (var i = blockbodies.length - 1; i >= 0; i--) {
				console.log(blockbodies[i]);
				blockbodies[i].classList.add("shrink");
			}
		}
	</script>
{% endblock %}
