{% extends "layout.html" %}

{% block content %}

<span class="banner-left">The English Reading Assistant</span>

{% endblock %}


{% block body %}



	<div id="passage">
	{% for word in output %}
		<span class="word">{{word}}</span>
	{% endfor %}
	</div>

	<div id="definitions">
	</div>


	<style type="text/css">

		.current{
			color: orange;
			background-color: yellow;
		}

		.selected{
			color: #742574;
			background-color: #edc5ed;
		}

		#intro form{
			float: right;
			margin-right: 20px;
		}

		.banner-left{
			float: left;
		}

		.banner-right{
			float: right;
			margin-right: 10px;
		}
	</style>

	<script type="text/javascript">

		var allwords = document.querySelector("#passage");

		allwords.addEventListener("click", filterclick,false);

		function filterclick(e) {
    		if (e.target !== e.currentTarget) {
        		getdef(e.target.innerHTML);
        		highlight(e.target.innerHTML);
    		}
    		e.stopPropagation();
		}

		function getdef(word){
			const request = new XMLHttpRequest();
            request.open('GET', `/definition/${word}`);
            request.onload = () => {
                const response = request.responseText;
								newblock = document.createElement("div");
								newblock.classList.add("definition");
                newblock.innerHTML = response;
								document.querySelector("#definitions").appendChild(newblock);
            };
            request.send();
		}

		var previous = '';

		function highlight(keyword){
			var words = document.querySelectorAll(".word");
			words.forEach( word => {
					if (word.innerHTML == keyword) {
						word.classList.add("current");
					}
					if (word.innerHTML == previous) {
						word.classList.remove("current");
						word.classList.add("selected");
					}
				}
			);
			previous = keyword;
		}
	</script>
{% endblock %}
