{% extends "layout.html" %}

{% block content %}

<span class="banner-left">The English Reading Assistant</span>

{% endblock %}


{% block body %}



	<div id="passage">
	{% for p in output %}
		<p>
			{% for word in p.split(' ') %}
				<span class="word">{{word}}</span>
			{% endfor %}
		</p>
	{% endfor %}
	</div>

	<div id="definitions">
	</div>


	<style type="text/css">

		.current{
			color: orange;
			background-color: yellow;
		}

		.selected{
			color: #742574;
			background-color: #edc5ed;
		}

		#intro form{
			float: right;
			margin-right: 20px;
		}

		.banner-left{
			float: left;
		}

		.banner-right{
			float: right;
			margin-right: 10px;
		}
	</style>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript">

		var allwords = document.querySelector("#passage");

		allwords.addEventListener("click", filterclick, false);

		function filterclick(e) {
    		if (e.target !== e.currentTarget) {
        		
        		getdef(e.target.innerHTML);
        		highlight(e.target.innerHTML);
        		shrinkalldef();
    		}
    		e.stopPropagation();
		}



		function getdef(word){
			const request = new XMLHttpRequest();
            request.open('GET', `/definition/${word}`);
            request.onload = () => {

                const response = request.responseText;

				const blockbody = document.createElement("div");
				const newblock = document.createElement("div");
				const blockhead = document.createElement("div");

				newblock.classList.add("definition");
				blockhead.classList.add("blockhead");
				blockbody.classList.add("blockbody");

				blockhead.innerHTML = word;
                blockbody.innerHTML = response;

                newblock.appendChild(blockhead);
                newblock.appendChild(blockbody);

				const definitions = document.querySelector("#definitions");
				definitions.insertBefore(newblock,definitions.childNodes[0]);
            };
            request.send();
		}

		var previous = '';

		function highlight(keyword){
			var words = document.querySelectorAll(".word");
			words.forEach( word => {
					if (word.innerHTML == keyword) {
						word.classList.add("current");
					}
					if (word.innerHTML == previous) {
						word.classList.remove("current");
						word.classList.add("selected");
					}
				}
			);
			previous = keyword;
		}

		$(document).ready(function(){

			var defs = $(".definition");
			var deftext = $(".blockbody");

			for (var i = defs.length - 1; i >= 0; i--) {
				defs[i].addEventListener('click',function(){
					console.log(e.target);
					deftext[i].slideToggle();
				});
			}
		});



		function shrinkalldef(){
			var blockbodies = $(".blockbody");
			console.log(blockbodies);
			for (var i = blockbodies.length - 1; i >= 0; i--) {
				console.log(blockbodies[i]);
				blockbodies[i].slideUp("slow");
			}
		}
	</script>
{% endblock %}
